html {
    scroll-behavior: smooth;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    user-select: none;
    background-image: url('img/pexels-pixabay-147411.jpg');
    background-size: cover;
    background-position: 0% 100%;
    animation: slide-up-background 1.5s ease-out forwards;
}

:root {
    --background-color: black;
    --text-color: #fefefe;
    --first-color: 	#0085d0;
    --second-color: #FF6347;
}
button{
    width: 20%;
    height: 2rem;
    background-color: transparent;
    border: 2px var(--text-color) solid;
    border-radius: 0.3rem;
    color: var(--text-color);
    transition: all 0.3s  ease-in;
    cursor: pointer;
    font-weight: 700;
}
#text button{
    width: 50%;
}
button:hover{
    width: 21%;
    height: 2.1rem;
    box-shadow: 0px 0px 10px var(--text-color);
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    user-select: none;
    align-items: center;
    position: absolute;
    z-index: 2;

}
nav p{
    cursor: pointer;
    transition: 0.3s ease-in;
}
nav p:hover{
    border-bottom: 1px var(--first-color) solid;
}
nav #logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s ease-in;
    margin-left: 2rem;
}
nav #logo:hover{
    font-size: 17px;
    text-shadow: 0px 0px 25px var(--first-color);
}
nav #logo i{
    background: none;
    font-size: 2rem
    ;
    color: var(--first-color);
    transition: all 0.3s ease-in;
}
nav #logo:hover i{
    font-size: 2.1rem;
}
#links{
    display: flex;
}
#links p{
    margin-right: 2rem;
}
.fa-bars{
    display: none;
}
#text p{
    color: #868a88;
}
main{
    display: flex;
    flex-direction: column;
}
main.hide{
    display: none;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    user-select: none;
    font-size: 1.4rem;
  
}
#text{
    text-shadow: 1px 1px 25px black;
}
#text span{
    color: var(--text-color);
    animation: showglow 1s ease-in-out forwards;
    animation-delay: 1s;
}
#text span:nth-child(2){
    color: var(--text-color);
    animation: showglow 1s ease-in-out forwards;
    animation-delay: 2s;
}



.slide-up {
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: slide-up 1.5s ease-out forwards;
}  
.first {
    animation-delay: 0.3s;
}
.second {
    animation-delay: 0.5s;
}
.third{
    animation-delay: 0.8s;
}

#main-about{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#main-about p{
    width: 50%;
    text-align: center;
    font-size: 15px;
}

#cards i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
}
.fa-sun{
    background: linear-gradient(80deg, #caca00, #c98200);
}
.fa-wind{
    background: linear-gradient(80deg, #ffffff, #b9d9e4);
}
.fa-cloud{
    background: linear-gradient(80deg, #ffffff, #757575);
}
.fa-smog{
    background: linear-gradient(80deg, #ffffff, #b9d9e4);
}
#card-title{
    text-align: center;
}
#cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
#cards #card {
    width: 10rem;
    height: 15rem;
    background: linear-gradient(to bottom left,rgb(30, 30, 30),black);
    border-radius: 1rem;
    padding: 1rem;
}
#card #stats{
    height: 15rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
#stats p:nth-child(2){
    font-size: 3rem;
    margin: 0;
}
#stats p:nth-child(3){
    color: var(--text-color);
    background-color: var(--first-color);
    padding: 0.3rem;
    font-size: 0.8rem;
    border-radius: 40rem;
    margin: 0.2rem;
}
#stats i{
    font-size: 80px
}

#end{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
#end span{
    color: var(--first-color);
    font-weight: 800;
    text-shadow: 0px 0px 25px var(--first-color);

}
#searching {
    display: none;
  }

#searching.show {
    z-index: 5;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 350vh;
    backdrop-filter: blur(10px);
  }

#searching-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 10rem;
    position: relative;
  }

#searching-box input {
    flex-grow: 1;  
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 2px solid var(--text-color);
    font-size: 20px;
    color: var(--text-color);
}
#searching-box input:focus{
    outline: none;
}

#searching-box input::placeholder {
    color: var(--text-color);
}

#enter {
    padding: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px var(--text-color) solid;
    border-radius: 50%;
    color: var(--text-color);
    margin-left: 1rem;
}
#enter:hover{
    box-shadow: 0px 0px 25px var(--text-color);
}

#searching-box i:nth-child(1) {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}
#weatherStats{
    display: none;
    width: 100%;
    height: 100vh;
    background: url('img/pexels-pixabay-147411.jpg');
    background-size: cover;
    background-position: center;
}
#weatherStats.show{
    display: block;
}

#weather-stats{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
#main-Info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-info-text{
    margin-left: 5rem;
}
#main-info-text h1:nth-child(1){
    margin-block-end: 5px;
}
#main-info-text #temp{
    margin-top: 3rem;
    font-size:  3rem;
}
#main-info-text p{
    display: inline;
    margin-block-start: 10px;
    font-size: 15px;
    color: black;
    background-color: var(--first-color);
    border-radius: 2rem;
    padding: 0 1rem 0 1rem;
   
}
#main-info-img{
    display: flex;
    margin-right: 5rem;
    align-items: center;
}
#main-info-img img{
    width: 150px;
}
#week-forecast{
    margin-left: 2rem;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202b3c88;
    padding: 0 2rem 0 2rem;
    border-radius: 20px;
}
#forcast{
    display: flex;
    flex-direction: row;
    width: 100vh;
}
#forecast p{
    margin-block-end: 0;
    margin-block-start: 0;
}
#forecast #weathericon{
    text-align: center;

}
#forecast #contaner{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#contaner div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 150px;
    margin-bottom: 1rem;
    
}

#air-conditions{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #202b3c88;
    padding: 0 2rem 0 2rem;
    border-radius: 20px;
    
}
#air{
    width: 80%;
}
#first-air {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 900px;
    margin: auto;
}

.air-row {
    display: flex;
    justify-content: space-between;
}

.air-row > div {
    width: 48%;
    padding: 10px;
    border-radius: 10px;   
}
.air-row h1{
    margin-left: 1.5rem;
}

.flex-icon {
    display: flex;
    gap: 5px;
}

#air-conditions i{
    display: flex;
    background: none;
    color: #8b8b8b;
    align-self: center;
    font-size: 1.5rem;
}
#Aboutus{
    display: none;
}
#Aboutus.show{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
}
#Aboutus.show h1{
    color: #0085d0;
    text-shadow: 0px 0px 25px var(--first-color);
}
#Aboutus.show button{
    margin-top: 1rem;
    align-self: center;
}
.animate {
    opacity: 0; 
}
.animate.show {
    animation: slide-up 1s ease-in-out forwards;
}
#Support{
    display: none;
}
#Support.show{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Support.show h1{
    color: var(--first-color);
    text-shadow: 0px 0px 25px var(--first-color);
}
#Support.show i{
    font-size: 1.5rem;
    border: 2px solid var(--text-color);
    padding: 0.5rem;
    transition: all 0.3s ease-in;
    border-radius: 100%;
    cursor: pointer;
}
#Support.show i:hover{
    font-size: 1.7rem;
    box-shadow: 0 0 25px var(--text-color);
}

@media (max-width: 820px){
    .fa-bars{
        display: flex;
        justify-self: right;
        margin-right: 1rem;
    }
    #links{
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background: linear-gradient(to bottom right,rgb(30, 30, 30),black);
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        animation: slide-up 1s ease-in-out forwards;
        
    }
    #links.show{
        display: flex;
    }
   
    nav{
        display: flex;
        
    }
    #logo{
        margin-right: 0rem;
    }
    #card{
        margin-top: 1rem;
    }
    #main-about{
        font-size: 20px;
    }
    #main-about button{
        width: 50%;
    }
    #end button{
        width: 50%;
    }
    #main-info-text p{
        text-wrap: nowrap;
    }
    #week-forecast{
        font-size: 20px;
        width: 70%;
        flex-direction: column;
    }
    #air-conditions{
        font-size: 20px;
        width: 70%;
        flex-direction: column;
        align-items: flex-start;
    }
    .air-row {
        flex-direction: column;
    }
    #contaner{
        flex-direction: column;
        align-items: center;
    }
    #Aboutus.show button{
        margin-top: 1rem;
        width: 50%;
        align-self: center;
    }
    #searching-box{
        width: 100%;
    }
    #Support{
        text-align: center;
    }
  
}


@keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slide-up-background {
    0% {
        background-position: 0% 100%; 
    }
    100% {
        background-position: 0% 0%;  
    }
}
@keyframes showglow{
    0%{
        color: var(--text-color);
    }
    100%{
        color: var(--first-color);
        text-shadow: 0px 0px 25px var(--first-color);
    }
}